
h1 {
  font-size: 4px;
}

#calendar>table {
  font-size: 20px;
  min-width: 60%;
}


body {
    -webkit-background-image:url('../images/bg_tile.jpg');
    background-image:url('../images/bg_tile.jpg');
}

#map {
    width:100%;
    z-index:0;
}

#map.left_collapse{
    left:90%;
}

#map.top_collapse{
    top:90%;
}

#map_pad {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#map_pad.inUse {
    z-index:10;
}

#calender-table{
    margin-left:auto;
    margin-right:auto;
}
#calendar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:90%;
}

#sidebar {
    position:absolute;
    top:0;
    left:0px;
    width:90%;
    height:100%;
}

.hidden {
    display:none;
    z-index:-100;
}

#calendar_btn {
    top:0;
    left:70%;
    width:30%;
    height:10%;
}
#calendar_btn.extended {
    top : 90%;
}
#sidebar_btn {
    top:35%;
    left:0;
    height:30%;
    width:10%;
}
.buttons {
    position:absolute;
    font-size:30px;
}

.displaynone{
    display:none;
}

#gesture-receiver {
    z-index:100;
    position:relative;
    left:0px;
    right:0px;
    border:10px;
    width:100%;
    height:100%;
}

#add-event-gesture{
}

td
{
    padding:8px;
}

#setting_show_button{
    width: 30%;
    left: 35%;
    height:10%;
    top: 90%;
}

#search_panel{
    position: absolute;
    top : 0%;
    left:   5%;
    min-width: 40%;
    max-width:  60%;
    height: 10%;
}
#flash-msg{
    position:absolute;
    top:10%;
    width:50%;
    left:25%;
    z-index:200;
}
#avatar_div{
    position:absolute;
    right:100px;
    top:20%;
    width:100px;
    height:100px;
}
#avatar_div.portrait{
    right:0px;
    top:10%;
    width:100px;
    height:100px;
}
#menu_div{
    position:absolute;
    right:100px;
    top:20%;
    width:100px;
}
#result_list {
    position:absolute;
    top:0;
    left:170%;
    width:30%;
    height:100%;
}
#result_list.portrait{
    width:85%;
}
#result_list.shown.portrait{
    left:15%;
}
#result_list.shown {
   left:70%;
}
