body, html, #map {
position:absolute;
width: 100%;
height: 100%;
overflow: hidden;
margin:0;
}

#l-map{
height:100%;
width:78%;
float:left;
border-right:2px solid #bcbcbc;
}

#r-result{
height:100%;
width:20%;
float:left;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 4px;
}

#calendar>table {
  font-size: 20px;
  min-width: 500px;
}
#calendar>table th {
  font:bold;
}

body {
    background-image:url('../images/bg_tile.jpg');
}

#map {
    width:100%;
    top:0px;
    left:0px;
    z-index:0;
    transition:top 1000ms;
    -webkit-transition:top 1000ms;
    box-shadow: 5px 5px #000000;
    -webkit-box-shadow: 5px 5px #000000;
}

#calendar {
    position:absolute;
    top:10px;
    left:0;
    width:100%;
    height:100px;
}

#sidebar {
    position:absolute;
    top:0;
    left:-100px;
    width:100px;
}

.hidden {
    display:none;
}

#classic_btn {
    top:0;
    left:50%;
    transition:top 1000ms;
    -webkit-transition:top 1000ms;
}

#sidebar_btn {
    top:50%;
    left:0;
    transition:left 1000ms;
    -webkit-transition:left 1000ms;
}

.buttons {
    position:absolute;
    z-index:100;
}