body, html, #map {
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
}

#l-map{
    height:100%;
    width:78%;
    float:left;
    border-right:2px solid #bcbcbc;
}

#r-result{
    height:100%;
    width:20%;
    float:left;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 4px;
}

#calendar>table {
  font-size: 20px;
  min-width: 60%;
}
#calendar>table th {
  font:bold;
}

body {
    -webkit-background-image:url('../images/bg_tile.jpg');
    background-image:url('../images/bg_tile.jpg');
}

#map {
    width:100%;
    top:0px;
    left:0px;
    z-index:0;
    transition:top 200ms;
    -webkit-transition:top 200ms;
    box-shadow: 5px 5px #000000;
    -webkit-box-shadow: 5px 5px #000000;
}

#calendar {
    position:absolute;
    top:10px;
    left:0;
    width:100%;
    height:90%;
}

#sidebar {
    background-color:orange;
    perspective:1000;	
    position:absolute;
    top:0;
    left:0px;
    width:90%;
    height:100%;
    -webkit-transition:100ms;
    transition:100ms;
    z-index:200;
}

#sidebar.back {
    transform-origin:0px 0px;
    transform:rotateY(90deg);
    transform-style:preserve-3d;
    -webkit-transform-origin:0px 0px;
    -webkit-transform:rotateY(90deg);
    -webkit-transform-style:preserve-3d;
}

.hidden {
    display:none;
}

#classic_btn {
    top:0;
    left:35%;
    width:30%;
    height:10%;
    transition:top 200ms;
    -webkit-transition:top 200ms;
}
#classic_btn.extended {
    top : 90%;
}
#sidebar_btn {
    top:35%;
    left:0;
    height:30%;
    width:10%;
    transition:left 100ms;
    -webkit-transition:left 100ms;
}
#sidebar_btn.extended {
    left: 90%;
}
.buttons {
    position:absolute;
    z-index:100;
    font-size:30px;
}

.displaynone{
    display:none;
}

#gesture-reseiver {
    z-index:100;
    position:relative;
    left:0px;
    right:0px;
    border:10px;
    width:100%;
    height:100%;
    background-color:red;
}

#add-event-gesture{
}

/* colorful table*/
tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)		{ background-color:#fff; }

td
{
    padding:8px;
}
