<ul id="menu">
<li><a href="#" id='avatar_btn'>Avatar</a></li>
<li><a href="#" id='logout_btn'>Logout</a></li>
<li><a href="#" id='help_btn'>Help</a></li>
<li><a href="#" id='about_btn'>About</a></li>
</ul>
