<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/ui-lightness/custom.css" />
    <script type="text/javascript" src="/javascripts/jquery-2.0.2.js"></script>
    <script src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-date-timepicker.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=F58a24b28810157e47bfb8e44f4c2e96"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>

  </head>
  <body>
    <div id="calendar" class="hidden">
      <table>
        <tr>
          <th>Sun.</th>
          <th>Mon.</th>
          <th>Tue.</th>
          <th>Thu.</th>
          <th>Wed.</th>
          <th>Fri.</th>
          <th>Sat.</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <button id="classic_btn" class="buttons">
      V
    </button>
    <div id="sidebar" class="hidden">
      <form id="eventInfo">
        Start date:<input type="text" class="datepicker" name="start_date" id="dateFrom"/> <br/>
        End Date:<input type="text" class="datepicker" name="end_date" id="dateUntil"/> <br/>
        Type: <input type="radio" name="routine" value="routine">Routine
        <input type="radio" name="routine" value="once">Once <br/>
        Priority: <div type="text" class="slider" name="priority" id="weight"/> </div><br/>
	Note: <textarea id="description" name="add-event-note"></textarea><br/>
        <button type="button" id="addEventButt">add</button>
      </form>
    </div>
    <button id="sidebar_btn" class="buttons">
      &gt;
    </button>
    <div id="map" class="map">
    </div>
    <!--<div style="z-index:100;position:relative;left:0px;right:0px;">
    <form><input type="button" value="toggle" onclick="javascript:$('.gesture-receiver').toggleClass('displaynone');"></form></div>
    <div id="gesture_receiver" class="gesture_receiver"></div>
    <div id="add_event_gesture" class="add_event_gesture">
        <div id="add_event_gesture_dialog" class="add_event_gesture_dialog" title="Adding Event">
            <form ><fieldset>
            <div class="control-group">
                <label class="control-label" for="start_date_datepicker">Start date:</label>
                <input type="text" class="datetimepicker" name="start_date" id="start_date_datepicker"/> 
            </div>
            <div class="control-group">   
                <label class="control-label" for="end_date_datepicker">End Date:</label>         
                <input type="text" class="datetimepicker" name="end_date" id="end_date_datepicker"/> 
            </div>
            <div class="control-group">       
                <label class="control-label">Type:</label>       
                <input type="radio" name="routine" value="routine">Routine
                    <input type="radio" name="routine" value="once">Once 
            </div>
            <div class="control-group"> 
                <label class="control-label">Priority:</label>           
                 <div type="text" class="slider" name="priority"/> </div><br/>
            </div>
            <div class="control-group">  
                <label class="control-label">Note:</label>           
                <textarea name="add-event-note"></textarea>
            </div>
            </fieldset></form>
        </div>
    </div>-->
  </body>
  <script type="text/javascript" >  </script>
</html>
