<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/ui-lightness/custom.css" />
    <script type="text/javascript" src="/javascripts/jquery-2.0.2.js"></script>
    <script src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-date-timepicker.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=38dd6ecf06c8e26251ac409334cec4a0"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxGLmTa_KJutZZEttdAw6PGuuM3030I2I&sensor=true"></script>
    <!--script type="text/javascript" src="/javascripts/map.js"></script-->
    <script type="text/javascript" src="/javascripts/googlemap.js"></script>
    <script type="text/javascript" src="/javascripts/recommend.js"></script>
    <script type="text/javascript" src="/javascripts/tour.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    
    <script type="text/javascript" src="/plugins/toggleSwitch.js"></script>
    <link rel="stylesheet" href="/plugins/toggleSwitch.css" />
    
    <link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <script src='/fullcalendar/fullcalendar.min.js'></script>
    <script src='/fullcalendar/gcal.js'></script>
    <script type="text/javascript">
    <%if(user && user._id){%>username = '<%=user._id%>';<%}else{%>username=null;<%}%>
    <%if (action){%> currentAction = '<%= action%>';<%}else{%>
	currentAction = null;
	<%}%>
    </script>

  </head>
  <body>
    <div id="map" class="map">
    </div>
    <div id="map_pad" class="">
    </div>
    <div id="calendar" class="hidden">
    </div>
    <div id="sidebar" class="hidden">
      <form id="eventInfo"><fieldset>
	  <div class="control-group">
            <label class="control-label" for="title">Title:</label>
            <input type="text" class="title" name="title" id="title"/>
	  </div>
          <div class="control-group">
            <label class="control-label" for="start_date_datepicker">Start date:</label>
            <input type="text" class="datepicker" name="start_date" id="dateFrom"/>
          </div>
          <div class="control-group">   
            <label class="control-label" for="end_date_datepicker">End Date:</label>         
            <input type="text" class="datepicker" name="end_date" id="dateUntil"/>
          </div>
	  <div class="alert alert-error hidden" id="fix-date-msg">Fix your date first!</div>
          <div class="control-group">
            <label class="control-label">Type:</label>       
            <input type="radio" name="routine" value="routine">Routine
            <input type="radio" name="routine" value="once">Once 
          </div>
          <div class="control-group"> 
            <label class="control-label">Priority:</label>           
            <div type="text" class="slider" name="priority" id="weight">
	    </div>
	    <br/>
	  </div>
	  <div class="control-group">  
            <label class="control-label">Note:</label>           
            <textarea id="description" name="add-event-note"></textarea>
          </div>
	</fieldset>
      </form>
      <button id="addEventButt" class="btn-primary">Submit</button>
<input type="button" id="side_collapse" class="btn" value="Cancel"/>
    </div>
    <button id="sidebar_btn" class="buttons hidden">
      ▷
    </button>
    
    <div id="search_panel" class="search_panel">
    <form id="search_loc" style="height:100%;">
	<input type="button" id="geoloc_btn" value="&#8982;" class="geoloc_btn " style="width:20%;height:100%;font-size:100%;"/>
  <select id="lock-location" class="toggleswitch">
    <option>LockLocation</option>
    <option>Off</option>
  </select>
	<input type="text" placeholder="Search and go" style="width:55%;height:100%;font-size:100%;" id="goto_place"/>
	<input type="button" id="search_go" value="Go" class="btn-primary" style="width:20%;height:100%;font-size:100%;"/>
    </form>
    </div>
    <div id="reg_panel"  title="Sign Up" class="hidden"></div>
    <div id="login_panel"  title="Login" class="hidden"></div>
    <div id="setting_panel"  title="Settings" class="hidden">
    <button id="toggle_map_style"/>Change Map Color</button>
    </div>
    <div id="avatar_div"></div>
    <% include success_error_msg.ejs -%>

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="navi_home"><a href="#">Map</a></li>
              <li id="navi_tagcloud"><a href="#" id="calendar_btn">Calendar▽</a></li>
                <li id="navi_login"><a href="#">Timeline</a></li>
                <li id="navi_reg "><a href="#" id="setting_show_button">Setting</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </body>
    <script type="text/javascript" src="./javascripts/configClient.js"></script>
    <script type="text/javascript" src="./javascripts/calendar.js"></script>
    <script type="text/javascript" src="./javascripts/login.js"></script>
    <script type="text/javascript" src="./javascripts/geo_locate.js"></script>
    <script type="text/javascript" src="./javascripts/setting.js"></script>
    <script type="text/javascript" src="./javascripts/placeManager.js"></script>
  <script type="text/javascript" >
    $('#close-flash-btn').click(function(e){
        $("#flash-msg").remove()
    })
    setTimeout(function(){
        $('#close-flash-btn').click();
    },5000);//wait 5 secs
    $.getScript("/javascripts/validation.js")
    var locationLock = ($('#lock-location').val()=='Off');
    $('#lock-location').toggleSwitch({
        change : function(e){
            if ( $('#lock-location').val()=='Off' )
                locationLock = false;
            else locationLock = true;
        }
    });
    console.log( $('<img>').attr('id','avatar_img')
            .attr('src','/img/avatar/'+username)
            .attr('width','100px')
            .attr('height','100px').appendTo('#avatar_div') )

        
  </script>
</html>
