<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title><%= title %></title>
    <link rel="apple-touch-icon" href="/images/ios-icon.png" />
    <link rel="stylesheet" href="/stylesheets/metrics.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/ui-lightness/custom.css" />
    <link rel="stylesheet" href="/stylesheets/index_sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/tl.js/timeline.css">
    <link rel="stylesheet" href="/plugins/toggleSwitch.css" />
    <link rel="stylesheet" href="/stylesheets/g.css" />
    <link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/libnotify.css" />
    <script type="text/javascript" src="/plugins/jquery-2.0.2.js"></script>
    <!--script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=38dd6ecf06c8e26251ac409334cec4a0"></script-->
    <script type="text/javascript" src="/proxy/http://maps.googleapis.com/maps/api/js?key=AIzaSyBxGLmTa_KJutZZEttdAw6PGuuM3030I2I&sensor=true&libraries=places,weather"></script>
    <!--script type="text/javascript" src="/javascripts/map.js"></script-->
    <script type="text/javascript" src="/javascripts/layout-metrics.js"></script>
    <script type="text/javascript" src="/javascripts/resultList.js"></script>  
    <script type="text/javascript" src="./javascripts/geo_locate.js"></script>  
    <script type="text/javascript" src="/javascripts/googlemap.js"></script>
    <script type="text/javascript" src="/javascripts/map_search.js"></script>
    <script type="text/javascript" src="/javascripts/recommend.js"></script>
    <script type="text/javascript" src="/javascripts/tour.js"></script>
    <script type="text/javascript" src="/plugins/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/tl.js/timeline-min.js"></script>
    <script type="text/javascript" src="./javascripts/avatar.js"></script>

    <!-- timer -->
    <script type="text/javascript" src="./javascripts/timedog.js"></script>
    
    <!-- notification plugin -->
    <script type="text/javascript" src="/plugins/humane.js"></script>

    <script type="text/javascript" src="/plugins/toggleSwitch.js"></script>
    
    <script src='/fullcalendar/fullcalendar.min.js'></script>
    <script src='/fullcalendar/gcal.js'></script>


    <!-- websocket -->
    <script type="text/javascript" src="/javascripts/websocket.js"></script>

    <script type="text/javascript">
    <%if(user && user._id){%>username = '<%=user._id%>';<%}else{%>username=null;<%}%>
    <%if (action){%> currentAction = '<%= action%>';<%}else{%>
	currentAction = null;
	<%}%>
    </script>

  </head>
  <body>
    <div id="map" class="map">
    </div>
    <div id="map_pad" class="">
    </div>
    <div id="calendar" class="hidden">
    </div>
    <div id="sidebar" class="hidden" style="overflow:auto;">
    <!--% include addeventpanel.ejs -%-->
    <% include sidebar.ejs -%>
    </div>
    <button id="sidebar_btn" class="buttons hidden">
      ▷
    </button>
    
    <div id="search_panel" class="search_panel">
    <% include searchbar.ejs -%>
    </div>
    
    <div id="reg_panel"  title="Sign Up" class=""></div>
    <div id="login_panel"  title="Login" class=""></div>
    <div id="avatar_panel"  title="Avartar" class=""></div>
    <div id="setting_panel"  title="Settings" class="hidden">
    <% include setting_form.ejs -%>
    </div>
 
    </div>
    <div id="avatar_div" class="has_shadow" title='This is your avatar'></div>
    <div id="menu_div" class="displaynone">
        <% include avatar_menu.ejs -%>
    </div>
    <div id="timeline"></div>
    <div id="result_list"></div>
    <div id="message_list"></div>
    <div id="call_list"></div>
    <div id="step_list"></div>
    <script type="text/javascript" src="/javascripts/timeline.js"></script>
    <% include success_error_msg.ejs -%>

    <div id="navbar" class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <!--<li id="navi_home"><a href="#">Map</a></li>-->
              <li id="navi_calendar" class="navibar" title="View your events on a calendar!"><a href="javascript:void(0);" id="calendar_btn"><i class="icon-xlarge icon-calendar"></i><font class="nav_text_opt">Calendar</font></a></li>
                <li id="navi_timeline" class="navibar" title="See your events on a timeline!"><a href="javascript:void(0);" id="timeline_btn"><i class="icon-xlarge icon-list"></i><font class="nav_text_opt">Timeline</font></a></li>
                <li id="navi_config" class="navibar"><a href="javascript:void(0);" id="setting_show_button" title='Adjust configurations'><i class="icon-xlarge icon-wrench"></i><font class="nav_text_opt">Config</font></a></li>
                <li id="navi_places" class="navibar"  title="See your bookmarked places"><a href="javascript:void(0);" id="fav_list_button"><i class="icon-xlarge icon-heart"></i><font class="nav_text_opt">Places</font></a></li>
                <li id="navi_friends" class="navibar"  title="See all your friends"><a href="javascript:void(0);" id="friend_list_button"><i class="icon-xlarge icon-heart"></i><font class="nav_text_opt">Friends</font></a></li>
                <li id="navi_refresh" class="navibar"  title="Refresh"><a href="javascript:void(0);" id="refresh_button"><i class="icon-xlarge icon-refresh"></i><font class="nav_text_opt">Refresh</font></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="loc_card" class="panel displaynone">
        <div id="loc_card_close" onclick='javascript:$("#loc_card").toggleClass("collapsed")'>
            <i class="icon-xlarge  icon-remove-sign"></i>
        </div>
        <div id="loc_card_content"></div>
    </div>
    <div id="tmpdiv" class="displaynone"></div>
    <div id="popup_dialog" class="displaynone">
        <div id="popup_content"></div>
        <button class="btn btn-primary" id="popup_ok_btn">OK</button>
    </div>
    <div id="help" style="position:absolute;width:80%;height:80%;top:10%;left:10%;background-color:rgba(255,255,255,0.5);">
        <div id="help1" class='help_imgs '>
            <img src="./images/help1.png" onclick="javascript:$('#help2').removeClass('displaynone');$('#help1').remove();"><br/>
        </div>
        <div id="help2" class='help_imgs displaynone'>
            <img src="./images/help2.png" onclick="javascript:$('#help3').removeClass('displaynone');$('#help2').remove();"><br/>
        </div>
        <div id="help3" class='help_imgs displaynone'>
            <img src="./images/help3.png" onclick="javascript:$('#help4').removeClass('displaynone');$('#help3').remove();"><br/>
        </div>
        <div id="help4" class='help_imgs displaynone'>
            <img src="./images/help4.png" onclick="javascript:$('#help5').removeClass('displaynone');$('#help4').remove();"><br/>
        </div>
        <div id="help5" class='help_imgs displaynone'>
            <img src="./images/help5.png" onclick="javascript:$('#help').remove();skip_toturial_set();"><br/>
        </div>
    </div>
  </body> 
    <script src="/plugins/jquery-ui.js"></script>
    <script type="text/javascript" src="/plugins/jquery.touch.js"></script>  
    <script type="text/javascript" src="./plugins/jquery-date-timepicker.js"></script>
    <script type="text/javascript" src="./plugins/simplewebrtc.latest.js"></script>
    <script type="text/javascript" src="./javascripts/configClient.js"></script>
    <script type="text/javascript" src="./javascripts/calendar.js"></script>
    <script type="text/javascript" src="./javascripts/login.js"></script>
    <script type="text/javascript" src="./javascripts/setting.js"></script>
    <script type="text/javascript" src="./javascripts/placeManager.js"></script>
    <script type="text/javascript" src="./javascripts/messageManager.js"></script>
    <script type="text/javascript" src="./javascripts/callManager.js"></script>
    <script type="text/javascript" src="./javascripts/friendManager.js"></script>
    <script type="text/javascript" src="./javascripts/validation.js"></script>
    <script type="text/javascript" src="./javascripts/menu.js"></script>
    <script type="text/javascript" src="./javascripts/utility.js"></script>
    <script type="text/javascript" src="./javascripts/popup.js"></script>
    <script type="text/javascript" src="./javascripts/flight_info.js"></script>
    <script type="text/javascript" src="./javascripts/card_manager.js"></script>
    <script type="text/javascript" src="/javascripts/sidebar.js"></script>
  <script type="text/javascript" >
    $('#close-flash-btn').click(function(e){
        $("#flash-msg").remove()
    })
    setTimeout(function(){
        $('#close-flash-btn').click();
    },5000);//wait 5 secs
    $('#screen').buttonset();
    var locationLock = ($('#lock-location').val()=='Off');
    $('#lock-location').toggleSwitch({
        change : function(e){
            if ( $('#lock-location').val()=='Off' )
                locationLock = false;
            else locationLock = true;
        }
    });
    $('#refresh_button').click( function(){
        location.reload( true );
    })
    $('.navibar').each( function( ind , ele ){
        $(ele).click( function(){
            $(ele).toggleClass('activated');
        } )
    } )
    if ( getCookie('skip_tutorial') )
        $('#help').remove();
    function skip_toturial_set(){
        setCookie('skip_tutorial',1,100000000000000);
    }
    $(document).tooltip();
  </script>
</html>
