<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/metrics.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/ui-lightness/custom.css" />
    <script type="text/javascript" src="/javascripts/jquery-2.0.2.js"></script>
    <!--script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=38dd6ecf06c8e26251ac409334cec4a0"></script-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxGLmTa_KJutZZEttdAw6PGuuM3030I2I&sensor=true&libraries=places,weather"></script>
    <!--script type="text/javascript" src="/javascripts/map.js"></script-->
    <script type="text/javascript" src="/javascripts/layout-metrics.js"></script>
    <script type="text/javascript" src="/javascripts/googlemap.js"></script>
    <script type="text/javascript" src="/javascripts/map_search.js"></script>
    <script type="text/javascript" src="/javascripts/recommend.js"></script>
    <script type="text/javascript" src="/javascripts/tour.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/tl.js/timeline-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tl.js/timeline.css">

    
    <script type="text/javascript" src="/plugins/toggleSwitch.js"></script>
    <link rel="stylesheet" href="/plugins/toggleSwitch.css" />
    
    <link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <script src='/fullcalendar/fullcalendar.min.js'></script>
    <script src='/fullcalendar/gcal.js'></script>
    <script type="text/javascript">
    <%if(user && user._id){%>username = '<%=user._id%>';<%}else{%>username=null;<%}%>
    <%if (action){%> currentAction = '<%= action%>';<%}else{%>
	currentAction = null;
	<%}%>
    </script>

    <style>
      #sidebar {
        height:700px;
        position:relative;
        overflow:auto;
      }
      .nodisplay {
        display : none;
      }
      table span>input{
        width: 95px;
      }
    </style>

  </head>
  <body>
    <div id="map" class="map">
    </div>
    <div id="map_pad" class="">
    </div>
    <div id="calendar" class="hidden">
    </div>
    <div id="sidebar" class="hidden">
        <!--<form id="eventInfo" class="form-horizontal"><fieldset>-->
      <form id="eventInfo" class=""><fieldset>
          <table>
            <tr>
              <th>Title:</th>
              <td><input type="text" class="title" name="title" id="title"/></td>
            </tr>
            <tr>
              <th>Start Date:</th>
              <td><input type="text" class="datepicker" name="start_date" id="dateFrom"/></td>
            </tr>
            <tr>
              <th>End Date:</th>
              <td><input type="text" class="datepicker" name="end_date" id="dateUntil"/></td>
            </tr>
            <tr>
              <th></th>
              <td><div class="alert alert-error hidden" id="fix-date-msg">Fix your date first!</div></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input type='checkbox' value='allday' id='alldayCheckbox'>All Day</input>
                <input type='checkbox' value='repeat' id='repeatCheckbox'>Repeat...</input>
              </td>
            </tr>
            <tr class='repeatDetail nodisplay'>
              <th>Repeats:</th>
              <td><select id="repeatFrequency">
                  <option value="0">Daily</option>
                  <option value="1">Every weekday (Monday to Friday)</option>
                  <option value="2">Every Monday, Wednesday, and Friday</option>
                  <option value="3">Every Tuesday, and Thursday</option>
                  <option value="4">Weekly</option>
                  <option value="5">Monthly</option>
                  <option value="6">Yearly</option>
              </select></td>
            </tr>
            <tr id='repeatEvery' class='repeatDetail nodisplay'>
              <th>Repeat every:</th>
              <td>
                <input type='number' id='interval' value='1'></input>
                <label>weeks</label>
              </td>
            </tr>

            <tr class='repeatDetail nodisplay'>
              <th>Repeat on:</th>
              <td id="checkboxes">
                <div>
                  <span><input type="checkbox">S</input></span>
                  <span><input type="checkbox">M</input></span>
                  <span><input type="checkbox">T</input></span>
                  <span><input type="checkbox">W</input></span>
                  <span><input type="checkbox">T</input></span>
                  <span><input type="checkbox">F</input></span>
                  <span><input type="checkbox">S</input></span>
                </div>
              </td>
            </tr>
            <tr class='repeatDetail nodisplay'>
              <th>Ends:</th>
              <td id="endRadio">
                <div>
                  <div><input type="radio" name='endRadioGroup'>Never</input></div>
                  <div><input type="radio" id='endRadioAfter' name='endRadioGroup'>After</input>
                    <label for='endRadioAfter'>After <input type='number' value='1' style='width:40px;'></input> occurrences</label></div>
                  <div><input type='radio' id='endRadioOn' name='endRadioGroup'>On</input>
                    <label for='endRadioOn'><input type='text' style='width:50px;'></label></div>
                </div>
              </td>
            </tr>

          <script type='text/javascript'>
            //switch between date and datatime
            $(function() {
              $('#alldayCheckbox').change(function() {
                if (this.checked) {
                  var dateFrom = $('#dateFrom').val();
                  var dateUntil = $('#dateUntil').val();
                  $(".datepicker").datetimepicker('destroy');
                  $(".datepicker").datepicker();
                  $("#dateFrom").datepicker('setDate', dateFrom);
                  $("#dateUntil").datepicker('setDate', dateUntil);
                  return;
                }
                var dateFrom = $('#dateFrom').val();
                var dateUntil = $('#dateUntil').val();
                $(".datepicker").datepicker('destroy');
                $(".datepicker").datetimepicker();
                $("#dateFrom").datetimepicker('setDate', dateFrom);
                $("#dateUntil").datetimepicker('setDate', dateUntil);
              });
            });
            //toggle repeat detail div
            $(function() {
              $('#repeatCheckbox').change(function() {
                if (this.checked) {
                  $('.repeatDetail').show(1000);
                  return;
                }
                $('.repeatDetail').hide(1000);
              });
            });
            //toggle repeat detail div
            $(function() {
              $('#repeatFrequency').change(function() {
                var text = $(this).find(':selected').text();
                if (text.substr(-2) === 'ly') {
                  $('#repeatEvery').slideDown();
                  $('#repeatEvery label').text(text);
                } else {
                  $('#repeatEvery').slideUp();
                }
              });
            });
          </script>

            <tr>
              <th>Priority:</th>
              <td><div type="text" class="slider" name="priority" id="weight" style='width:220px;'></div></td>
            </tr>
            <tr>
              <th rowspan=2>Position:</th>
              <td>
                <input type='text' placeholder='Place Name'></input>
              </td>
            </tr>
            <tr>
              <td>
                <span><input type='text' placeholder='Lat'></input></span>
                <span><input type='text' placeholder='Lng'></input></span>
              </td>
            </tr>
            <tr>
              <th>Privacy:</th>
              <td>
                <input name='privacyRadioGroup' type='radio'>Public</input>
                <input name='privacyRadioGroup' type='radio' checked='checked'>Private</input>
              </td>
            </tr>
            <tr>
              <th>Note:</th>
              <td>
                <textarea id="description" name="add-event-note"></textarea>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
      <button id="addEventButt" class="btn-primary">Submit</button>
<input type="button" id="side_collapse" class="btn" value="Cancel"/>
    </div>
    <button id="sidebar_btn" class="buttons hidden">
      ▷
    </button>
    
    <div id="search_panel" class="search_panel">
    <form id="search_loc" style="height:100%;">
	<input type="button" id="geoloc_btn" value="&#8982;" class="geoloc_btn " style="width:20%;height:100%;font-size:100%;"/>
	<input type="text" placeholder="Search and go" style="width:55%;height:100%;font-size:100%;" id="goto_place"/>
	<input type="button" id="search_go" value="Go" class="btn-primary" style="width:20%;height:100%;font-size:100%;"/>
    </form>
    </div>
    <div id="reg_panel"  title="Sign Up" class=""></div>
    <div id="login_panel"  title="Login" class=""></div>
    <div id="setting_panel"  title="Settings" class="hidden">
    <form class="dialog_form">
        <p>Map Color: <button id="toggle_map_style"/>Toggle </button></p>
        <p> UI:
         <span id="screen" style="display:inline;">
            <input type="radio" id="auto" name="screen"  checked="checked"/><label for="auto">Auto</label>
            <input type="radio" id="desktop" name="screen" /><label for="desktop">Desktop</label>
            <input type="radio" id="phone" name="screen" /><label for="phone">Phone</label>
            <input type="radio" id="tablet" name="screen" /><label for="tablet">Tablet</label>
         </span>
        </p>
        <p>LockLocation:
              <select id="lock-location" class="toggleswitch">
                <option>On</option>
                <option>Off</option>
              </select>
        </p>
</div>
 
    </form>
    </div>
    <div id="avatar_div"></div>
    <div id="timeline">
    </div>
    <script type="text/javascript" src="/javascripts/timeline.js"></script>
    <% include success_error_msg.ejs -%>

    <div id="navbar" class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="navi_home"><a href="#">Map</a></li>
              <li id="navi_tagcloud"><a href="#" id="calendar_btn">Calendar▽</a></li>
                <li id="navi_login"><a href="#" id="timeline_btn">Timeline</a></li>
                <li id="navi_reg "><a href="#" id="setting_show_button">Setting</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </body> 
    <script src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-date-timepicker.js"></script>
    <script type="text/javascript" src="./javascripts/configClient.js"></script>
    <script type="text/javascript" src="./javascripts/calendar.js"></script>
    <script type="text/javascript" src="./javascripts/login.js"></script>
    <script type="text/javascript" src="./javascripts/geo_locate.js"></script>
    <script type="text/javascript" src="./javascripts/setting.js"></script>
    <script type="text/javascript" src="./javascripts/placeManager.js"></script>
  <script type="text/javascript" >
    $('#close-flash-btn').click(function(e){
        $("#flash-msg").remove()
    })
    setTimeout(function(){
        $('#close-flash-btn').click();
    },5000);//wait 5 secs
    $.getScript("/javascripts/validation.js")
    $('#screen').buttonset();
    var locationLock = ($('#lock-location').val()=='Off');
    $('#lock-location').toggleSwitch({
        change : function(e){
            if ( $('#lock-location').val()=='Off' )
                locationLock = false;
            else locationLock = true;
        }
    });
    console.log( $('<img>').attr('id','avatar_img')
            .attr('src','/img/avatar/'+username)
            .attr('width','100px')
            .attr('height','100px').appendTo('#avatar_div') )

        
  </script>
</html>
