<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/ui-lightness/custom.css" />
    <script type="text/javascript" src="/javascripts/jquery-2.0.2.js"></script>
    <script src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-date-timepicker.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=38dd6ecf06c8e26251ac409334cec4a0"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script type="text/javascript" src="/javascripts/recommend.js"></script>
    <script type="text/javascript" src="/javascripts/tour.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    
    <link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <script src='/fullcalendar/fullcalendar.min.js'></script>
    <script src='/fullcalendar/gcal.js'></script>
    <script type="text/javascript">
    <%if(user && user.name){%>username = '<%=user.name%>';<%}else{%>username=null;<%}%>
    </script>

  </head>
  <body>
    <div id="map" class="map">
    </div>
    <div id="calendar" class="hidden">
    </div>
    <button id="calendar_btn" class="buttons btn">
      ▽
    </button>
    <div id="sidebar" class="hidden">
      <form id="eventInfo"><fieldset>
	  <div class="control-group">
            <label class="control-label" for="title">Title:</label>
            <input type="text" class="title" name="title" id="title"/>
	  </div>
          <div class="control-group">
            <label class="control-label" for="start_date_datepicker">Start date:</label>
            <input type="text" class="datepicker" name="start_date" id="dateFrom"/>
          </div>
          <div class="control-group">   
            <label class="control-label" for="end_date_datepicker">End Date:</label>         
            <input type="text" class="datepicker" name="end_date" id="dateUntil"/>
          </div>
          <div class="control-group">       
            <label class="control-label">Type:</label>       
            <input type="radio" name="routine" value="routine">Routine
            <input type="radio" name="routine" value="once">Once 
          </div>
          <div class="control-group"> 
            <label class="control-label">Priority:</label>           
            <div type="text" class="slider" name="priority" id="weight">
	    </div>
	    <br/>
	  </div>
	  <div class="control-group">  
            <label class="control-label">Note:</label>           
            <textarea id="description" name="add-event-note"></textarea>
          </div>
	</fieldset>
      </form>
      <button id="addEventButt" class="btn-primary">Submit</button>
<input type="button" id="side_collapse" class="btn" value="Cancel"/>
    </div>
    <button id="sidebar_btn" class="buttons hidden">
      ▷
    </button>
    
    <div id="search_panel" class="search_panel">
    <form id="search_loc">
	<input type="button" id="geoloc_btn" value="&#8982;" class="geoloc_btn " style="width:10%;height:10%;"/>
	<input type="text" placeholder="Search and go" class="input-xlarge" />
	<input type="button" id="search_go" value="Go" class="btn-primary input-xlarge" />
    </form>
    </div>
    <div id="reg_panel"  title="Sign Up" class="hidden"></div>
    <div id="login_panel"  title="Login" class="hidden"></div>
    <div id="setting_panel"  title="Settings" class="hidden">
    <button id="toggle_map_style"/>Change Map Color</button>
    </div>
    <button id="setting_show_button" class="btn buttons" >Settings</button>
  </body>
    <script type="text/javascript" src="./javascripts/configClient.js"></script>
    <script type="text/javascript" src="./javascripts/calendar.js"></script>
    <script type="text/javascript" src="./javascripts/login.js"></script>
    <script type="text/javascript" src="./javascripts/setting.js"></script>
  <script type="text/javascript" >

  </script>
</html>
