<form class="dialog_form">
        <p>Map Color: <button id="toggle_map_style"/>Toggle </button></p>
        <p> UI:
         <span id="screen" style="display:inline;">
            <input type="radio" id="auto" name="screen"  checked="checked"/><label for="auto">Auto</label>
            <input type="radio" id="desktop" name="screen" /><label for="desktop">Desktop</label>
            <input type="radio" id="phone" name="screen" /><label for="phone">Phone</label>
            <input type="radio" id="tablet" name="screen" /><label for="tablet">Tablet</label>
         </span>
        </p>
        <p>LockLocation:
              <select id="lock-location" class="toggleswitch">
                <option>On</option>
                <option selected="selected">Off</option>
              </select>
        </p>
    </form>
