<% if (error) { %>
<div style="color:red;background-color:pink;"><%= error %></div>
<% } %>
<% if (success) { %>
<div style="color:green;background-color:rgb(200,255,200);"><%= success %></div>
<% } %>
