<html>
<body>
<h1>Deregistration</h1>
<form method="POST" action="/gcmDeregistry">
Username: <input type="input" id="username" name="username"/><br/>
Device ID: <input type="input" id="deviceID" name="deviceID"/>
<br/>
<input type="submit" value="Deregister"/>
</form>
</body>
</html>
