<html>
<body>
<h1>Registration</h1>
<form method="POST" action="/gcmRegistry">
Username: <input type="input" id="username" name="username"/><br/>
Device ID: <input type="input" id="deviceID" name="deviceID"/>
<br/>
<input type="submit" value="Submit"/>
</form>
</body>
</html>
