<html>
<body>
<h1>Registration</h1>
<form action="POST">
Device ID: <input type="input" id="devid" name="devid"/>
<br/>
Username: <input type="input" id="username" name="username"/>
<br/>
<input type="submit" value="Submit"/>
</form>
</body>
</html>
