<html>
<body>
<h1>Deregistration</h1>
<form method="POST" action="/gcmSend">
Username: <input type="input" id="username" name="username"/>
Message: <input type="input" id="message" name="message"/>
<br/>
<input type="submit" value="Send"/>
</form>
</body>
</html>
